---
layout: layout.html
title: About Me
theme: pink
---

{% set content = pages | findByID("gs1BugZQXA8mN7DniEOFx") %}

<header class="flow">
  <h1 class="headline">Welcome</h1>
  <div class="measure flow | gap-x-large">
    <p>I’m Luke, Product Designer &amp; Design Director at <a href="https://www.thoughtbot.com" target="_blank" rel="nofollow noopener noreferrer">thoughtbot</a>. I help clients to build great products for the people that need them. I’m eager to work with teams that prioritise collaboration and iteration, backed by good research.</p>
    <p>I am not currently looking for new opportunities. My portfolio is available <em>upon request</em>.</p>
  </div>
  <div class="measure">
    {% include "./_includes/siteDirectory.html" %}
  </div>
</header>

<article class="columns | pad-t-xx-large gap-x-large" id="about">
  <div class="occupy-3">
    <h2 class="headline gap-large">{{ content.fields.title }}</h2>
  </div>
  <div class="grayscale-image | occupy-3">
    {% set heroImage = assets | findByID("5ZI6Cx1N7O5KG8ikkg1wv7") %}
    {% responsiveImage heroImage, "threeQuarters" %}
  </div>
  <p class="measure | push-down leading-crushed">
    <small>
      <strong class="tertiary-text">Image </strong>
      {{ heroImage.fields.description }}
    </small>
  </p>
</article>

<article class="gap-large">
  {% set toc = ["History", "Experience", "Clients", "Skills", "Recognition"] %}
  {% include "./_includes/toc.html" %}

  <h3 class="title" id="history">History</h3>
  <div class="markdown | flow">
    {% renderMarkdown content.fields.contentMarkdown, assets %}
  </div>
</article>

{% include "./_includes/career.html" %}
